
.roboto-custom {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight, 400);
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: rgb(236, 235, 253);;
    color: rgb(32, 32, 32);
    font-family: 'Roboto', sans-serif;
    
}
.wrapper{
   display: flex;

}
.wrapper-left-side{
    width: 20%;
    height: 100vh;
    background-color: rgb(24, 183, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-right-side{
    display: flex;
    height: 20%;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a img{
    filter: brightness(0) invert(1);
}
li{
    background-color: rgb(24, 183, 204);
    margin-right: 70px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}